VITE_API_URL=https://backendweb-production-1d7f.up.railway.app
VITE_ADMIN_ALLOWED_EMAILS=admin@example.com
VITE_ADMIN_ALLOWED_UIDS=
VITE_ADMIN_FIREBASE_API_KEY=AIzaSyBFCcOdy9yvvjmbw-fDP3IBz2mhzJp5JeA
VITE_ADMIN_FIREBASE_AUTH_DOMAIN=signinandsignupweb.firebaseapp.com
VITE_ADMIN_FIREBASE_PROJECT_ID=signinandsignupweb
VITE_ADMIN_FIREBASE_STORAGE_BUCKET=signinandsignupweb.firebasestorage.app
VITE_ADMIN_FIREBASE_MESSAGING_SENDER_ID=568031792138
VITE_ADMIN_FIREBASE_APP_ID=1:568031792138:web:7174732247f81d92d4e3f3
VITE_ADMIN_FIREBASE_MEASUREMENT_ID=G-LG3C5VMZHQ
VITE_BYPASS_ORGANIZATION_VERIFICATION=false
